* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #9c9ec4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;

  font-family: "Roboto";
}
.container-wrapper {
  position: relative;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.container {
  overflow: hidden;
  max-width: 420px;
  border-radius: 10px;
  background-color: #fdfdfd;
}

.container-wrapper::before {
  content: "New and Improved!";

  top: 10px;
  left: -10px;

  background-color: rgb(240, 230, 157);
  padding: 10px;
  position: absolute;
  border-radius: 10px 50px 50px 10px;
  font-weight: 600;
}
.watch-image {
  width: 100%;
  height: auto;
}
.text-content {
  padding: 20px 20px 30px 20px;
}

.heading-text {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  gap: 5px;
}
.heading {
  font-size: 22px;
  font-weight: 500;
}
.add {
  color: #636363;
  font-size: 16px;
}

.content {
}
